$color-main: #0078ff;
$color-menu-background: #42414d;
$color-menu-hover: #53525d;
$color-menu-line: #71707a;

$color-text: #fbfbfe;

$font-size: 13px;

$font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
	"Helvetica Neue", Arial, sans-serif;

$menu-width: 250px;
