/* create fontface for variable font moz extension assets/fonts/montserrat.ttf */

/* montserrat-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/montserrat-v25-latin-regular.eot"); /* IE9 Compat Modes */
	src: url("../assets/fonts/montserrat-v25-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../assets/fonts/montserrat-v25-latin-regular.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("../assets/fonts/montserrat-v25-latin-regular.woff") format("woff"),
		/* Modern Browsers */
			url("../assets/fonts/montserrat-v25-latin-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */
			url("../assets/fonts/montserrat-v25-latin-regular.svg#Montserrat")
			format("svg"); /* Legacy iOS */
}

/* montserrat-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: url("../assets/fonts/montserrat-v25-latin-500.eot"); /* IE9 Compat Modes */
	src: url("../assets/fonts/montserrat-v25-latin-500.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../assets/fonts/montserrat-v25-latin-500.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("../assets/fonts/montserrat-v25-latin-500.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/montserrat-v25-latin-500.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("../assets/fonts/montserrat-v25-latin-500.svg#Montserrat")
			format("svg"); /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	src: url("../assets/fonts/montserrat-v25-latin-600.eot"); /* IE9 Compat Modes */
	src: url("../assets/fonts/montserrat-v25-latin-600.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../assets/fonts/montserrat-v25-latin-600.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("../assets/fonts/montserrat-v25-latin-600.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/montserrat-v25-latin-600.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("../assets/fonts/montserrat-v25-latin-600.svg#Montserrat")
			format("svg"); /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: url("../assets/fonts/montserrat-v25-latin-700.eot"); /* IE9 Compat Modes */
	src: url("../assets/fonts/montserrat-v25-latin-700.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../assets/fonts/montserrat-v25-latin-700.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("../assets/fonts/montserrat-v25-latin-700.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/montserrat-v25-latin-700.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("../assets/fonts/montserrat-v25-latin-700.svg#Montserrat")
			format("svg"); /* Legacy iOS */
}

/* montserrat-800 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 800;
	src: url("../assets/fonts/montserrat-v25-latin-800.eot"); /* IE9 Compat Modes */
	src: url("../assets/fonts/montserrat-v25-latin-800.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../assets/fonts/montserrat-v25-latin-800.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("../assets/fonts/montserrat-v25-latin-800.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/montserrat-v25-latin-800.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("../assets/fonts/montserrat-v25-latin-800.svg#Montserrat")
			format("svg"); /* Legacy iOS */
}

a,
b,
body,
center,
code,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
img,
li,
mark,
menu,
p,
s,
span,
strong,
u,
ul {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
menu {
	display: block;
}
body {
	line-height: 1;
	background: #42414d;
	overflow: hidden;
	min-width: 300px;
	max-width: 350px;
	width: fit-content;
	font-size: 13px;
	font-family: "Montserrat", sans-serif;
	color: #fbfbfe;
	font-weight: 400;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	height: 100%;
}
ul {
	list-style: none;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu > * {
	font-family: "Montserrat", sans-serif;
}

.menu__list {
	position: relative;
	padding: 7px;
}

.menu__list--sub {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	background: #42414d;
	transform: translate3d(calc(100% + 10px), 0, 0);
	transition: all 0.1s ease-out;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.menu__item {
	border-radius: 5px;
	padding: 10px 8px;
	display: flex;
	justify-content: space-between;
}

.menu__item span {
	opacity: 0.5;
}

.menu__item--head {
	display: flex;
	align-items: center;
	gap: 9px;
	position: relative;
}

.menu__item--head h3 {
	font-weight: 700;
	color: #fbfbfe;
	font-size: 120%;
}

.menu__item--head img {
	width: 24px;
	height: 24px;
	border-radius: 5px;
}

.menu__item--head p {
	margin-left: auto;
	font-weight: 400;
	font-size: 120%;
	opacity: 0.5;
}

.menu__item--space {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__item--title {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-weight: 700;
	border-radius: 0;
	color: #fbfbfe;
}

.menu__item--title button {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	border: 0;
	width: 30px;
	height: 30px;
	background: url("../assets/icons/chevron-left.svg") no-repeat center / 20px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.menu__item--title button:hover {
	background-color: #53525d;
}

.menu__item:hover:not(
		.menu__item--noselect,
		.menu__item--title,
		.menu__item--head
	) {
	background-color: #53525d;
}

.menu__item--parent {
	display: flex;
	align-items: center;
}

.menu__item--parent::after {
	content: "";
	width: 15px;
	height: 15px;
	margin-left: auto;
	background: url("../assets/icons/chevron-right.svg") no-repeat center /
		contain;
	opacity: 0.8;
	order: 2;
}

.menu__list--active {
	transform: translate3d(0, 0, 0);
}

.menu__divider {
	height: 1px;
	width: 100%;
	background: #71707a;
	margin: 5px 0;
}

.menu__item--new::before,
.menu__item--beta::before,
.menu__item--coming-soon::before {
	display: block;
	font-size: 10px;
	white-space: nowrap;
	margin-left: 5px;
	order: 1;
	padding: 2px 4px;
	border-radius: 5px;
}
.menu__item--coming-soon {
	opacity: 0.5;
	pointer-events: none;
}
.menu__item--coming-soon::before {
	content: "coming soon";

	background: rgba(255, 255, 255, 0.2);
}

.menu__item--beta::before {
	content: "experimental";
	font-weight: 500;
	background: #cf4b4b;
}
.menu__item--new::before {
	content: "new";
	font-weight: 500;
	background: #6ccf4b;
	color: #000;
}

/*
.menu > * {
	font-family: "montserrat";
}

.menu {
	padding: 7px;
}

.menu--sub {
	position: absolute;
	top: 0;
	left: 0;
}

.menu__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding: 10px 8px;
	border-radius: 5px;
}

.menu__item:hover:not(
		.menu__item--header,
		.menu__item--has-sub
	) {
	background-color: #53525d;
}

.menu__item span {
	font-size: 90%;
}

.menu__item--header {
	font-weight: 700;
	font-size: 120%;
}
.menu__item--header img {
	width: 24px;
	height: 24px;
	border-radius: 5px;
}
.menu__item--header .version {
	margin-left: auto;
	font-weight: 400;
	opacity: 0.5;
}
.menu__item--seperator {
	position: relative;
	margin-bottom: 15px;
}
.menu__item--seperator::before {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	background: #71707a;
	top: calc(100% + 7px);
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.menu__item--beta::after {
	content: "beta";
	display: block;
	background: #cf4b4b;
	padding: 2px 4px;
	border-radius: 5px;
	font-size: 10px;
	white-space: nowrap;
}

.menu__item--coming-soon::after {
	content: "coming soon";
	display: block;
	background: rgba(255, 255, 255, 0.2);
	padding: 2px 4px;
	border-radius: 5px;
	font-size: 10px;
	white-space: nowrap;
}

.menu__item--disabled {
	opacity: 0.5;
	pointer-events: none;
} */

/* create fontface to load font: ../assets/fonts/montserrat.ttf */
